@model RecoveryPasswordViewModel

@{
    ViewData["Title"] = "Recovery Password";
}

<hr />
<div class="row" style="margin-top:170px">
    <div class="col-md-4 mx-auto">
        <form asp-action="RecoveryPassword" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-outline-dark" />
            </div>
            <a asp-action="Login" class="text-decoration-underline text-primary fw-semibold">
                Login
            </a>
        </form>
    </div>
</div>


